@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

        .header-container .btn {
            margin-top: 1rem;
        }

    .table {
        font-size: 0.9rem;
    }

    .btn-sm {
        font-size: 0.8rem;
        padding: 5px 10px;
    }
}
